<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/rest
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            Rfvbgt79
        </property>
        <property name="hibernate.connection.pool_size">1</property>

        <mapping class="minaiev.restPractic.model.Event"/>
        <mapping class="minaiev.restPractic.model.File"/>
        <mapping class="minaiev.restPractic.model.User"/>
    </session-factory>
</hibernate-configuration>